.userimg {
    border-radius: 50%;
}

.ping {
    float: left;
    width: 100%;
    border-radius: 10;
    outline: none;
}

.stats, .statscount {
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
}

.statscount {
    color: teal;
    margin-left: 55px;
    margin-top: 5px;
}

.postCount {
    float: left;
}