.page {
  overflow-y: scroll;
  height: calc(100vh - 72px);
}
body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
  background-image: url('../../assets/background/home.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
